:root{
  --green:#009432;
  --black:#000;
  --white:#fff;
  --gray:#f6f4f1;
}
*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'ubuntu';
  background-color: var(--gray);
  color: var(--black);

}
.container{
  height: auto;
}


.content{
  padding-top: 20px;
  padding-bottom:75px;
}
/*navbar aqui*/
.logo{
  width: 150px;
  height: 150px;
} 

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'ubuntu';
  background: var(--green);
  height: 8vh;
  border-bottom: 1px solid var(--black);
  padding-bottom: 10px;
}

.nav-list{
  list-style: none;
  display:flex;
}

.nav-list li{
  letter-spacing: 2.08px;
  margin-left: 32px;
  text-transform: uppercase;
  padding-top: 14px;
}
.nav-list a{
  font: 'ubuntu';	
  padding: 8px;
  text-decoration: none;	
  text-align: center;
  color: var(--white);
  background:var(--black) no-repeat center center;
  display: block;
}
.inicio{
  font: 'ubuntu';	
  padding: 8px;
  text-decoration: none;	
  text-align: center;
  color: var(--white);
  background:var(--black) no-repeat center center;
  display: block;
}
.inicio:hover{
  color: var(--black);
}
.nav-list button{
  font: 'ubuntu';	
  padding: 8px;
  text-decoration: none;	
  text-align: center;
  color: var(--white);
  background:var(--black) no-repeat center center;
  display: block;
}
.btn{
  border: none;
}
.btn-nav{
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10px;  
  cursor: pointer;
  transition: all 400ms ease;
  font-family: 'ubuntu';
}
.efeito:hover{
  background: var(--white);
  box-shadow: inset 0 0 0 3px var(--black);
} 
.nav-list a:hover { 
  color:var(--black);
}
.nav-list button:hover { 
  color:var(--black);
}

/* footer aqui */
footer{
  background: var(--green);
  height: auto;
  width: 100%;
  font-family: 'ubuntu';
  color: var(--black);
  border-top: 1px solid var(--black);
  padding-top: 43px;
  position: absolute;
}

.footer-content{  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}

.footer-content h3{
  font-size: 28.8px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 48px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 48px 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: var(--black);
}

.socials a i{
  font-size: 17.6px;
}

.socials a:hover i{
  color: var(--white);
}

.footer-bottom{
  background: var(--black);
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{ 
  color: var(--white);
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: 4;
  font-weight: 200;
}

/* search bar */
.form-search{
  padding-top: 50px;
  padding-left: 10px;
  left: 50px;
}
.input-search{
  position: relative;
  height:50px ;
  width: 260px;
  font-size: 15px;
  box-sizing: border-box;
  transition: .5s;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
.btn-search{
  position: relative;
  border-radius:0 5px 5px 0;
  height:50px ;
  width: 40px; 
  border: none;
  outline: none;
  cursor: pointer;
  background:var(--black) ;
  color: var(--white);
  top: -1px;
  left: -5px;
}
.btn-search:hover{
  color: var(--black);
  transition: all 400ms ease;
}


/* movie index */
 .card{
  padding-top: 5px;
  text-align: center;
  width: 210px;
  height: 530px;
  background-color: var(--green);
  color: var(--black);
  padding: 50px;
  margin: 15px;
  border-radius: 20px;
  border: 2px solid var(--black);
  overflow: hidden;
  position: relative;
  transition-property: 0.5s ease;
  transition-duration: 1s;

}
.card:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px var(--black);
}
.img{
  height: 250px;
  width: 175px;
  transition-property: 0.5s ease;
  cursor: pointer;
  transition-duration: 1s;
  border-radius: 10px;
}
.img:hover{
  transform: scale(1.6);
  box-shadow: 5px 5px 10px var(--black);
}
.titulo{
  font-size: 65px;
  text-align:center;
  color: var(--black);
}

.flexbox{
  display: grid; 
  padding-bottom: 15px;
  padding-top: 10px;
  grid-template-columns: repeat(auto-fill,minmax(400px,2fr));
  gap:50px;
  margin-left: 13px;
  min-height: 100vh;
  height: auto;
}

.barra-de-pesquisa{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.movie-title{
  font-size: 30px;
  padding-top: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.info{
  text-align:justify;
}
.text{
  padding-bottom: 10px;
}
.options{
  float: right;
  padding-bottom: 10px;
  color: var(--black);
}
.options:hover{
  color: var(--white);
}
.btn-edit{
  float: right;
  height: 30px;
  width: 40px;
  padding-right: 25px;
}
.options{
  border: none;
  background-color: var(--green);
  color: var(--black);
  padding-left: 10px;
  font-size: 23px;
}
.options:hover {
  color: var(--white);
  cursor:pointer;
}
.edit{
  font-size: 23px;
  float:initial;
}
.not-found{
  font-size: 17px;
  padding-left: 15px;
  width: 50%;
}