:root{
    --green:#009432;
    --black:#000;
    --white:#fff;
    --gray:#f6f4f1;
  }

.logo{
    width: 450px;
    height: 450px;
}
body{
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boas_vindas{
    text-align: center;
    font-size: 25px;
    font-family: 'ubuntu';
    text-transform: capitalize;
}